<form [formGroup]="searchForm<%= classify(name) %>" (ngSubmit)="onSubmit(searchForm<%= classify(name) %>)">
  <div class="ui-grid">
    <div class="ui-grid-row">
      // TODO:
      <div class="ui-grid-col-7">
        <app-button-shared [type]="'submit'" [label]="'Buscar'" [disabled]="searchForm<%= classify(name) %>.invalid" [class]="'ui-button-secondary'"></app-button-shared>
        <app-button-shared [type]="'button'" [label]="'Agregar'" (click)="onCreate()" [class]="'ui-button-secondary'"></app-button-shared>
        <app-button-shared [type]="'button'" [label]="'Limpiar'" (click)="searchForm<%= classify(name) %>.reset()" [class]="'ui-button-secondary'"></app-button-shared>
      </div>
    </div>
  </div>
</form>
